body {
    background-color: #cae4fd;
}

nav {
    background-color: #2d4b66;
}

header {
    padding: 10px;
}

h1 {
    font-size: 20px;
    font-weight: 600;
}

h2 {
    font-size: 20px;
}

/* Bootstrap modification */
.navbar-brand {
    font-size: x-large;
    padding: 0px;
}

.div-search {
    max-width: 485px;
    margin: 0 auto;
}

.row-images {
    max-width: 750px;
    padding: 30px 10px;
}

.center {
    text-align: center;
}

.btn-find {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.cprofile {
   background-color: white;
   text-align: center;
   padding: 10px;
   border-radius: 10px;
   margin: auto;
   max-width: 90%;
}

.user-type:hover {
    opacity: 80%;
    cursor: pointer;
}

.selected {
    background-color: blue;
}

