<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>
<nav th:replace="fragments :: nav"></nav>
<section class="vh-100">
    <div class="container py-3 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5">
                        <form method="POST">
                            <h3 class="mb-4 text-center">Add a clinic</h3>
                            <div class="form-outline mb-4">
                                <label class="form-label" th:for="name">Clinic Name</label>
                                <input  th:field=${addClinicDTO.name} type="text" id="name" class="form-control form-control-lg mb-1" />
                                <p th:errors="${addClinicDTO.name}" class="alert alert-danger"></p>
                            </div>

                            <div class="form-outline mb-4">
                                <label class="form-label" th:for="address">Address</label>
                                <input  th:field=${addClinicDTO.address} type="text" id="address" class="form-control form-control-lg mb-1" />
                                <p th:errors="${addClinicDTO.address}" class="alert alert-danger"></p>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <div class="form-outline mb-4">
                                        <label class="form-label" th:for="city">City</label>
                                        <input  th:field=${addClinicDTO.city} type="text" id="city" class="form-control form-control-lg mb-1" />
                                        <p th:errors="${addClinicDTO.city}" class="alert alert-danger"></p>
                                    </div>
                                </div>


                                <div class="col">
                                    <div class="form-outline mb-4">
                                        <label class="form-label" th:for="state">State</label>
                                        <input  th:field=${addClinicDTO.state} type="text" id="state" class="form-control form-control-lg mb-1" />
                                        <p th:errors="${addClinicDTO.state}" class="alert alert-danger"></p>
                                    </div>
                                </div>


                                <div class="col">
                                    <div class="form-outline mb-4">
                                        <label class="form-label" th:for="zip">Zip Code</label>
                                        <input  th:field=${addClinicDTO.zip} type="text" id="zip" class="form-control form-control-lg mb-1" />
                                        <p th:errors="${addClinicDTO.zip}" class="alert alert-danger"></p>
                                    </div>
                                </div>

                            </div>


                            <div class="form-outline mb-4">
                                <label class="form-label" th:for="phone">Phone Number</label>
                                <input  th:field=${addClinicDTO.phoneNumber} type="text" id="phone" class="form-control form-control-lg mb-1" />
                                <p th:errors="${addClinicDTO.phoneNumber}" class="alert alert-danger"></p>
                            </div>

                            <div class="form-outline mb-4">
                                <label class="form-label" th:for="website">Website</label>
                                <input th:field=${addClinicDTO.website} type="text" id="website" class="form-control form-control-lg mb-1" />
                                <p th:errors="${addClinicDTO.website}" class="alert alert-danger"></p>
                            </div>

                            <div class="form-check">
                                <input th:field=${addClinicDTO.emergency} class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Open 24 Hours?
                                </label>
                            </div>

                            <button class="btn btn-primary btn-lg btn-block" type="submit">Add</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


</body>
</html>
