<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
    <nav th:replace="fragments :: nav"></nav>
    <header><h1>Search for a Vet Clinic</h1></header>
    <div class="container-fluid">

        <form th:action="@{/search-results}" method="POST">
            <div class="div-search">
                <h2 class="pb-1">Find a vet clinic near me</h2>
                <div class="form-check">
                    <input
                        class="form-check-input"
                        type="radio"
                        name="searchType"
                        id="city"
                        value="city"
                        checked
                    />
                    <label class="form-check-label"  for="city">Search by city</label>
                </div>
                <div class="form-check">
                    <input
                        class="form-check-input"
                        type="radio"
                        name="searchType"
                        id="state"
                        value="state"
                    />
                    <label class="form-check-label"  for="state">Search by state</label>
                </div>
            </div>
            <div class="div-search">
                <div class="input-group">
                    <input
                        type="text"
                        class="form-control"
                        id="term"
                        name="term"
                        placeholder="Enter a search term (city or full state name)..."
                    />
                    <input type="submit" class="btn btn-find" value="&#x1f50e;" />
                </div>
            </div>
        </form>

        <div class="container row-images">
            <div class="row g-4 center">
                <div class="col-sm">
                    <img class="img-fluid rounded-1" th:src="@{/image/cat-dog.jpg}" alt="cat and dog resting" />
                </div>
                <div class="col-sm">
                    <img class="img-fluid rounded-1" th:src="@{/image/hamster.jpg}" alt="hamster sitting" />
                </div>
                <div class="col-sm">
                    <img class="img-fluid rounded-1" th:src="@{/image/bunny.jpg}" alt="bunny sitting" />
                </div>
            </div>
        </div>

    </div>
</body>
</html>