<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
    <nav th:replace="fragments :: nav"></nav>
    <header><h1>Search for a Vet Clinic</h1></header>
    <div class="container-fluid">
        <form>
            <div class="div-search row">
                <div class="input-group col">
                    <input type="text"
                       class="form-control"
                       id="term"
                       name="term"
                       placeholder="Enter a city or state to search for a vet clinic..."
                    />
                    <input type="submit" class="btn btn-find" value="Find" />
                </div>
            </div>
        </form>

    </div>
</body>
</html>